<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VANBANK</title>
    <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/styleC.css">
</head>
<body>

    <% if (rowsCuentas.length === 0) { %>

        <div class="info">
            <img src="/img/info.png" alt="">
            <h1>NO EXISTEN CUENTAS ASOCIADAS</h1>
        </div>
    
    <% } else { %>
    
        <% rowsCuentas.forEach(rCuentas => { %>
            <div class="card">
                <div class="title">Cuenta: <%= rCuentas[4] %></div>
                <div class="features">
                <ul>
                    <li><span>Numero de cuenta: </span> 00<%= rCuentas[3] %> </li>
                    <li><span>Nombre del titular: </span> <%= rCuentas[1] %></li>
                    <li><span>Saldo disponible: </span>Q <%= rCuentas[2] %></li>
                </ul>
                </div><!--/features-->
                <a href="/estado/<%= rCuentas[0] %>" class="btn" target="">MOVIMIENTOS</a>
            </div><!--/card-->
        <% }); %>
    
    <% } %>

</body>
</html>